.container{
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: column;
  overflow: hidden;
}

.home{

  &__title{
    width: 100%;
    max-width: 1024px;
    font-size: 20px;
  }
}